header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
}

.HeaderContent {
    display: flex;
    align-items: center;
    width: 80%;
    height: 10vh;
    padding: 0 1rem 0 1rem;
}

@media (max-width: 1023px) {
    .HeaderContent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 10vh;
        padding: 0 1rem 0 1rem;
    }
}