nav {
    display: flex;
    align-items: center;
}

.NavBarContent {
    display: flex;
    list-style: none;
}

.NavBarItem {
    margin-right: 2rem;
}

.NavBarLink {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.NavBarLink:hover {
    color: #38B6FF;
}

.NavBarButton {
    padding: 0.8rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #FFA500;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}

.NavBarButton:hover {
    cursor: pointer;
    background-color: #38B6FF;
}