.HomeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84vh;
}

.HomeSection {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.HomeBookInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HomeBookInfo h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.HomeBookInfo p {
    font-size: 1.2rem;
    color: #FFFFFF;
}

.HomeBookInfo div {
    display: flex;
    align-items: center;
}

.HomeBookInfo div button {
    font-size: 1.5rem;
    margin: 2rem 1.5rem 0 0;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    text-transform: uppercase;
}

.HomeBtnBuyNow {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    background-size: 200% auto;
    color: white;
}

.HomeBtnBuyNow:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
}

.HomeBtnLearnMore {
    background: transparent;
    border: 1px solid #2b5876 !important;
    background-size: 200% auto;
    color: white;
}

.HomeBtnLearnMore:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
}

.HomeImageBook {
    width: 30%;
    margin-bottom: 1rem;
}

@media (max-width: 1023px) {
    .HomeContent {
        height: 84vh;
    }

    .HomeSection {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 80%;
    }

    .HomeImageBook {
        width: 40%;
        margin: 1rem auto;
    }

    .HomeBookInfo {
        display: flex;
        flex-direction: column;
    }

    .HomeBookInfo h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .HomeBookInfo div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .HomeBookInfo div button {
        width: 100%;
        margin: 1rem 0 1rem 0;
    }
}